nav#mainNav.navbar.fixed-top.navbar-toggleable-md.navbar-inverse.navbar-expanded
  img.img-fluid(src='img/agency/nimbus_logo.svg' style='position:relative;top:-10px;left:40px;margin-top:20px;' width='100' height='54')
  .container(style='margin-top:0px;')
    #navbarResponsive.collapse.navbar-collapse(style='margin-top:-49px;margin-left:-100px !important;margin-right:-250px !important;')
      ul.navbar-nav(style='list-style-type:none;float:left;margin-left: -40px !important;')
        li.nav-item
          a.nav-link.page-scroll(href='home' style='text-decoration:none;') Home
        li.nav-item
          a.nav-link.page-scroll(href='settings' style='text-decoration:none;') Settings
        li.nav-item
          a.nav-link.page-scroll(href='forum' style='text-decoration:none;') Forum
        li.nav-item
          a.nav-link.page-scroll(href='support' style='text-decoration:none;') Help
      ul.navbar-nav(style='list-style-type:none;float:right;')
        li.nav-item
          a.nav-link.page-scroll(href='flight-planning' style='margin-right:5px;background-color:rgba(10,143,213,1); text-decoration:none; border-radius:5px;') Flight Planning
        li.nav-item
          a.nav-link.page-scroll(href='model-creation' style='background-color:rgba(10,143,213,1); text-decoration:none; border-radius:5px;') Model Creation
        li.nav-item
          a.nav-link.page-scroll(href='log-out' style='text-decoration:none;margin-left:10px;') Log Out
script(src='/javascripts/analytics.js')
